<!-- wp:template-part {"slug":"header","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"2rem","bottom":"4rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:2rem;padding-bottom:4rem;background-color:var(--wp--preset--color--f5-surface)">
    <!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"800"}},"fontSize":"4xl"} /-->

    <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
    <div class="wp-block-group">
        <!-- wp:post-date /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"2rem"} -->
    <div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide">
        <!-- wp:column {"width":"70%"} -->
        <div class="wp-block-column" style="flex-basis:70%">
            <!-- wp:shortcode -->
            [f5tv_player]
            <!-- /wp:shortcode -->
            
            <!-- wp:post-content /-->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"30%"} -->
        <div class="wp-block-column" style="flex-basis:30%;padding-left:1.5rem">
            <!-- wp:post-featured-image {"sizeSlug":"f5tv-content-cover"} /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full"} /-->
